.main_chat
  .main-header
    .main-header__left-name
      = @group.name
      .main-header__member
        Member :
        .main-header__member-list
          -# - @members.user.id each do |user|
          -#   = user
    .main-header__Edit-btn
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :message, class: 'send__message', placeholder: 'type a message'
      .form__space
        = f.label :image ,class: 'input-box__image' do
          = fa_icon'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'

